#!/bin/bash

alias gc="git checkout"
alias gcp="git cherry-pick"
alias grp="git rebase"
alias grpi="git rebase -i"
alias gd="git diff"
alias gs="git status"
alias g="gs"
alias gb="git branch --sort=committerdate"
alias gcl="git checkout -"
alias grm="git rebase master"
alias gri="git rebase --interactive --autosquash "
alias be="bundle exec"
alias gp="git pull"
alias gl="git log --oneline"
alias gad="git add ."
alias gstu="git stash -u"
alias gstp="git stash pop"
alias gcan="git commit --amend --no-edit"
alias gcfh="git commit --fixup HEAD"
alias gcwip="git add .; git commit -m 'WIP'"
alias grsh="git reset --soft HEAD^"
